aiofiles
aiohttp
aioshutil
asgi-correlation-id
asyncio
beautifulsoup4
django~=6.1
durations
fastapi
html5lib
opencv-python~=5.0
openpyxl
pandas
pytest
python-multipart
tortoise-orm[asyncpg]
xlrd
uvicorn

PyTurboJPEG  @ git+https://github.com/lilohuang/PyTurboJPEG.git
nomeroff_net @ git+https://github.com/moujikov/ria-com_nomeroff-net.git
