aiofiles
aiohttp
aioshutil
asgi-correlation-id
asyncio
durations
fastapi
openpyxl
pandas
python-multipart
tortoise-orm[asyncpg]
xlrd
uvicorn

PyTurboJPEG  @ git+https://github.com/lilohuang/PyTurboJPEG.git
nomeroff_net @ git+https://github.com/moujikov/ria-com_nomeroff-net.git
